.form {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a202c; /* Dark background */
    border-radius: 8px; /* Rounded corners for the form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.formcontrol {
    background-color: #2d3748; /* Slightly lighter background */
    padding: 16px;
    border-radius: 4px; /* Rounded corners for form controls */
    margin-bottom: 16px; /* Space between form controls */
}

.form-flex {
    align-items: center;
    justify-content: space-between;
}

.formlabel {
    margin: 0;
    width: 20%;
    color: #e2e8f0; /* Light text color */
    font-weight: bold; /* Bold labels */
}

.input-box {
    width: 70%;
    min-width: 20%;
    border-radius: 4px; /* Rounded corners for inputs */
    border: none;
    background-color: #4a5568; /* Darker input background */
    color: white;
    padding: 8px; /* Padding for inputs */
}

.submit-button {
    align-items: center;
    color: white;
    width: 25%;
    background-color: #2b6cb0; /* Primary button color */
    padding: 12px 24px; /* Padding for the button */
    border: none;
    border-radius: 4px; /* Rounded corners for the button */
    font-size: 16px; /* Larger font size for the button */
    cursor: pointer; /* Pointer cursor for button */
}

.submit-button:hover {
    background-color: #2c5282; /* Darker hover color */
}
