.skill-form {
    background-color: #083057;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(5, 33, 67, 0.1);
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}

.selected-skills-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.selected-skills-list li {
    background-color: #0e284b;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    font-weight: 500;
    color: #e7eaee;
}

.apply-button {
    margin-top: 20px;
    background-color: #0e284b;
    color: #e2e6ec;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.apply-button:hover {
    background-color: #67a2f0;
    color: #0e284b;
}
